
<div class="container">
	    <% if @user.errors.any? %>
	      <%= @user.errors.count %>error!
	      <% @user.errors.full_messages.each do |message| %>
	        <%= message %>
	      <% end %>
		<% end %>
	<div class="row">
		<h2>User info</h2>
		<%= form_for(@user) do |f| %>
			<div class="name-box">
				<span>Name </span><%= f.text_field :name %>
			</div>
			<p>image</p>
			<%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
			<p>Introduction</p>
			<%= f.text_area :introduction %>
			<div class="update-user"><%= f.submit "Update User" %></div>
		<% end %>
	</div>
</div>