<%= render 'books/list' %>
<div class="container">
	<div class="row">
		<div class="error-m">
		<% if @new.errors.any? %>
		  <%= @new.errors.count %>error!
		      <% @new.errors.full_messages.each do |message| %>
		        <li class="error-m2"><%= message %></li>
		      <% end %>
		  </div>
		<% end %>
		<% if flash[:notice] %>
		  <div class="flash-create">
		    <%= flash[:notice] %>
		  </div>
		<% end %>

		<div class="col-lg-3">
<%= render 'books/sidebar' %>
	    </div>
	    <div class="col-lg-9">
	    	<div class="book-list-box">
		    	<h2>Books</h2>
		    	    <table class="table">
	    			    <thead>
	    				    <tr>
	    				    	<th></th>
	    				    	<th>Title</th>
	    				    	<th>Opinion</th>
	    				    </tr>
	    				</thead>
	    				<tbody>
		                <% @books.each do |list| %>
		                    <tr>
		                    	<td><p><%= attachment_image_tag list.user, :profile_image, :fill, 60, 60, class: "pull-left ", fallback: "no_image.jpg" %></p></td>
		                    	<!-- ↑　list.userを使う事により、listが参照している@booksの中のuserが参照されることになる
		                    		アソシエーションによって各bookデータに関連づけられているユーザーデータが表示されるという仕組み
		                    		@userでは今のコントローラーの記述により自分の画像しか出てこない-->
								<td><span class="book-content"><%= list.title %></span></td>
					    		<td><span class="book-content"><%= list.body %></span></td>
					    	</tr>
					    </tbody>
			    		<% end %>
	    	    </table>
	    	</div>
	    </div>
	</div>
</div>