
<div class="container">
	    <% if flash[:notice] %>
		  <div class="flash-create">
		    <%= flash[:notice] %>
		  </div>
		<% end %>
	<div class="row">
		<div class="col-lg-3">
		<div class="side-bar">
			<div class="user-box>">
				<h2>User info</h2>
				<p><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, class: "pull-left ", fallback: "no_image.jpg" %></p>
				<table class="table">
					<tr>
						<th><div name-box>name</div></th>
						<th><%= @user.name %></th>
					</tr>
					<tr>
						<th><div introduction-box>introduction</div></th>
						<th><%= @user.introduction %></th>
					</tr>
			    </table>
				<%= link_to "", edit_user_path(current_user.id), class: "btn btn-default btn-lg btn-block glyphicon glyphicon-wrench" %>

		    </div>
		    <div class="new-book-box">
		    	<h2>New Book</h2>
		    	<%= form_for(@new) do |f| %>
		    	<h4>Title</h4>
		    	<%= f.text_field :title %>
		    	<h4>Opinion</h4>
		    	<%= f.text_area :body %>
		    	<%= f.submit "Create Book", class:"btn btn-primary btn-lg btn-block" %>
		    	<% end %>
		    </div>
		</div>
	    </div>
	    <div class="col-lg-9">
	    	<div class="user-list-box">
		    	<h2>Book detail</h2>
		    	    <table class="table">
	    				<tbody>
		                    <tr>
		                    	<td><p><%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, class: "pull-left ", fallback: "no_image.jpg" %></p><br><br><br>
		                    		<p><%= link_to "#{@book.user.name}", user_path(@book.user) %></p>
		                    	</td>
								<td><%= link_to "#{@book.title}", book_path(@book) %></td>
					    		<td><span class="book-content"><%= @book.body %></span></td>
					    		<% if @book.user == current_user %>
					    		<td class="book-btn btn btn-success btn-xs"><%= link_to "Edit", edit_book_path(@book) %></td>
					    		<td class="book-btn btn btn-danger btn-xs"><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
					    		<% end %>
					    	</tr>
					    </tbody>
	    	    </table>
	    	</div>
	    </div>
	</div>
</div>