<%= render 'books/list' %>

<div class="container">
	    <% if flash[:notice] %>
		  <div class="flash-create">
		    <%= flash[:notice] %>
		  </div>
		<% end %>
	<div class="row">
		<div class="col-lg-3">
<%= render 'books/sidebar' %>
	    </div>
	    <div class="col-lg-9">
	    	<div class="user-list-box">
		    	<h2>Book detail</h2>
		    	    <table class="table">
	    				<tbody>
		                    <tr>
		                    	<td><p><%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, class: "pull-left ", fallback: "no_image.jpg" %></p></td>
								<td><span class="book-content"><%= @book.title %></span></td>
					    		<td><span class="book-content"><%= @book.body %></span></td>
					    		<% if @book.user == current_user %>
					    		<td class="book-btn btn btn-success btn-xs"><%= link_to "Edit", edit_book_path(@book) %></td>
					    		<td class="book-btn btn btn-danger btn-xs"><%= link_to "Destroy", book_path(@book), method: :delete %></td>
					    		<% end %>
					    	</tr>
					    </tbody>
	    	    </table>
	    	</div>
	    </div>
	</div>
</div>