
<div class="container">
	    <% if flash[:notice] %>
		  <div class="flash-create">
		    <%= flash[:notice] %>
		  </div>
		<% end %>
	<div class="row">
		<div class="col-lg-3">
		<div class="side-bar">
			<div class="user-box>">
				<h2>User info</h2>
				<p><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, class: "pull-left ", fallback: "no_image.jpg" %></p>
				<table class="table">
					<tr>
						<th><div name-box>name</div></th>
						<th><%= @user.name %></th>
					</tr>
					<tr>
						<th><div introduction-box>introduction</div></th>
						<th><%= @user.introduction %></th>
					</tr>
			    </table>
				<%= link_to "", edit_user_path(current_user.id), class: "btn btn-default btn-lg btn-block glyphicon glyphicon-wrench" %>

		    </div>
		    <div class="new-book-box">
		    	<h2>New Book</h2>
		    	<%= form_for(@new) do |f| %>
		    	<h4>Title</h4>
		    	<%= f.text_field :title, class: "side-bar-box" %>
		    	<h4>Opinion</h4>
		    	<%= f.text_area :body, class: "side-bar-box" %>
		    	<%= f.submit "Create Book", class:"btn btn-primary btn-lg btn-block" %>
		    	<% end %>
		    </div>
		</div>
	    </div>
	    <div class="col-lg-9">
	    	<div class="user-list-box">
		    	<h2>Book detail</h2>
		    	    <table class="table">
	    				<tbody>
		                    <tr>
		                    	<td><p><%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, class: "pull-left ", fallback: "no_image.jpg" %></p><br><br><br>
		                    		<p><%= link_to "#{@book.user.name}", user_path(@book.user) %></p>
		                    	</td>
								<td><%= link_to "#{@book.title}", book_path(@book) %></td>
					    		<td><span class="book-content"><%= @book.body %></span></td>
					    		<% if @book.user == current_user %>
					    		<td class="book-btn btn btn-success btn-xs"><%= link_to "Edit", edit_book_path(@book) %></td>
					    		<td class="book-btn btn btn-danger btn-xs"><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
					    		<% end %>
					    	</tr>
					    </tbody>
	    	    </table>
	    	</div>
            <div class="like-and-comment clearfix">
            	<div class="iine">
			    	<% if @book.favorited_by?(current_user) %><!--他人のいいねを消せないのはどういう仕組みなのか？？-->
			    	    <li>
			    	    	<%= link_to book_favorites_path(@book), method: :delete do %>
			    	    	<!--すでに自分がいいねしていたらいいねを削除した上で削除したページにリンクする？？-->
			    	    	<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
			    	    	<%= @book.favorites.count %><%= link_to 'いいね', book_favorite_path(@book, @favorite) %>
			    	    	<% end %>
			    	    </li>
			    	<% else %>
			    	    <li>
			    	    	<%= link_to book_favorites_path(@book), method: :post do %>
			    	    	  <i class="fa fa-heart-o" aria-hidden="true"></i>
			    	    	  <%= @book.favorites.count %><%= link_to 'いいね', book_favorite_path(@book, @favorite) %>
			    	    	<% end %>
			    	    </li>
			    	<% end %>
		        </div>

		    		<li>
		    			<i class="fa fa-comment"></i><!--吹き出しアイコン-->
		    		    <%= @book.post_comments.count %>
	    	</div>
	    	    <div class="comment-list bt style-2" id="comments">
	    	    	<div class="float-wrapper">
	    	    		<h4 class="comment-count"><%= @book.post_comments.count %>件コメント</h4>
	    	    		<ol>
	    	    			<% @book.post_comments.each do |post_comment| %>
	    	    			<li class="comment">
	    	    				<div class="comment-body bb">
	    	    					<div class="comment-text">
	    	    						<div class=" comment-author">
	    	    							<a><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Written by </a><%= post_comment.user.name %>
	    	    						    <span class="comment-meta">
	    	    							    <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
	    	    						    </span>
	    	    						</div>
	    	    						<div class="comment-entry"><%= post_comment.comment %></div>
	    	    					</div>
	    	    					<% if post_comment.user == current_user %>
	    	    					<%= link_to 'edit', edit_book_post_comment_path(@book, post_comment) %>
	    	    					<%= link_to 'delete', book_post_comment_path(@book, post_comment), method: :delete %>
	    	    					<!--ネストしているものは変数2つを指定する必要がある　　　　↑-->
	    	    					<% end %>
	    	    				</div>
	    	    			</li>
	    	    			<% end %>
	    	    		</ol>
	    	    	</div>
	    	    </div>
	    	    <%= form_for [@book, @post_comment] do |f| %>
	    	    <!--コメントはbookモデルに結び付いたpost_commentモデルなのでここに2つ書く必要がある
	    	    またpost_commentをcreateするリクエストはルーティングがネスト状態なので上記2つの情報が必要-->
	    	        <div class="row">
	    	        	<div class="col-sm-12">
	    	        		<%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
	    	        	</div>
	    	        </div>
	    	        <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
	    	    <% end %>
	    </div>
	</div>
</div>